<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        p {
            margin: 0;
            padding: 0;
        }

        .username {
            font-weight: bold;
            margin-right: 5px;
        }

        .navbar {
            padding: 0.5rem 0;
        }
    </style>

</head>
<body>

<!--<div>-->
<!--    <nav class="navbar navbar-dark bg-dark text-white">-->
<!--        <div class="container-fluid justify-content-between align-items-center">-->
<!--            <div class="d-flex align-items-center" th:each="user : ${userInf}">-->
<!--                <p class="username" th:text="${user.getUsername()}"></p>-->
<!--                <p>with roles: </p>-->
<!--                <div th:each="role: ${user.getRolesName()}"-->
<!--                     th:text="'&nbsp;' + ${role}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <a href="/login" class="font-weight-bold text-secondary">Logout</a>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-2 bg-dark text-white ">
                <a class="font-weight-bold text-white" id="headerUsername"></a>
                <a> with roles:</a>
                <a id="headerRoles"></a>
                <a th:href="@{/logout}" class="float-right text-secondary">Logout</a>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-2" style="padding-left: 0; padding-right: 0">
            <!--            Все роли!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="container-fluid nav-link active" id="v-pills-admin-tab" data-toggle="pill"
                   href="#v-pills-admin" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>

        </div>
        <div class="col-md-10" style="background-color: #eeeff3">


            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <br>
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="usersTable" data-toggle="tab" href="#homeAdmin" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="newUser" data-toggle="tab" href="#homeUser" role="tab"
                               aria-controls="profile" aria-selected="false">New User</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="homeAdmin" role="tabpanel"
                             aria-labelledby="usersTable">
                            <div class="tab-content" id="admin" style="background-color: white">
                                <!--     вклдака таблицы(все пользователи)       -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>All users</h5>
                                    </div>
                                    <br>
                                    <div class="container-fluid">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="adminPanelBody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="homeUser" role="tabpanel" aria-labelledby="newUser">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add new user</h5>
                                </div>
                                <br>
                                <div class="container-fluid col-md-3 text-center">

                                    <form id="formNewUser" name="formNewUser">
                                        <!--                                    <form th:method="POST" th:action="@{/admin}" th:object="${user}">-->
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="firstName">First
                                                Name</label>
                                            <input type="text" class="form-control" name="firstName" id="firstName"
                                                   placeholder="First Name"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="lastName">Last
                                                Name</label>
                                            <input type="text" class="form-control" name="lastName" id="lastName"
                                                   placeholder="Last Name"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="age">Age</label>
                                            <input type="number" class="form-control" name="age" id="age"
                                                   placeholder="Age"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="email">Email</label>
                                            <input type="email" class="form-control" name="username" id="email"
                                                   placeholder="Email"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold"
                                                   for="password">Password</label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                   placeholder="Password">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="rolesName"
                                                   class="font-weight-bold">Role </label>
                                            <select class="form-control"
                                                    name="rolesName" id="rolesName"
                                                    size="2"
                                                    multiple>
                                                <option th:value="ROLE_ADMIN"
                                                        th:text="ADMIN"></option>
                                                <option th:value="ROLE_USER"
                                                        th:text="USER"></option>
                                            </select>
                                        </div>


                                        <button type="submit" class="btn btn-success btn-lg">Add new User</button>

                                    </form>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">

                    <br>
                    <h1>User information-page</h1>


                    <div class="tab-content" id="user" style="background-color: white">
                        <!--     вклдака таблицы(все пользователи)       -->
                        <div class="card">
                            <div class="card-header">
                                <h5>All users</h5>
                            </div>
                            <br>
                            <div class="container-fluid">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>

                                    </thead>
                                    <tbody id="userPanelBody">
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEditUser">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idEditUser"
                                           disabled/>
                                </label>
                            </p>
                            <p>
                                <label for="firstNameEditUser"><strong>Name</strong>
                                    <input class="form-control" type="text" name="firstName"
                                           id="firstNameEditUser"/>
                                </label>
                            </p>
                            <p>
                                <label for="lastNameEditUser"><strong>Name</strong>
                                    <input class="form-control" type="text" name="lastName"
                                           id="lastNameEditUser"/>
                                </label>
                            </p>
                            <p>
                                <label for="ageEditUser"><strong>Age</strong>
                                    <input class="form-control" type="number" name="age" id="ageEditUser"/>
                                </label>
                            </p>

                            <p>
                                <label for="usernameEditUser"><strong>Email</strong>
                                    <input class="form-control" type="email" name="username"
                                           id="usernameEditUser"/>
                                </label>
                            </p>
                            <p>
                                <label for="passwordEditUser"><strong>Password</strong>
                                    <input class="form-control" type="password" name="password"
                                           id="passwordEditUser"/>
                                </label>
                            </p>

                            <label class="container-fluid col-6" for="rolesEditUser"><strong>Role</strong>
                                <select class="form-control" id="rolesEditUser" name="rolesEditUser" multiple size="2">
                                    <option th:value="ROLE_ADMIN"
                                            th:text="ADMIN"></option>
                                    <option th:value="ROLE_USER"
                                            th:text="USER"></option>
                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="editFormCloseButton" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDeleteUser">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idDeleteUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idDeleteUser"
                                           disabled>
                                </label>
                            </p>
                            <p>
                                <label for="firstNameDeleteUser"><strong>Name</strong>
                                    <input class="form-control" type="text" name="firstName"
                                           id="firstNameDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="lastNameDeleteUser"><strong>Name</strong>
                                    <input class="form-control" type="text" name="lastName"
                                           id="lastNameDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="ageDeleteUser"><strong>Age</strong>
                                    <input class="form-control" type="number" name="age" id="ageDeleteUser"
                                           disabled>
                                </label>
                            </p>
                            <p>
                                <label for="usernameDeleteUser"><strong>Email</strong>
                                    <input class="form-control" type="email" name="username"
                                           id="usernameDeleteUser" disabled>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesDeleteUser"><strong>Role</strong>
                                <select class="form-control" id="rolesDeleteUser" name="rolesName" multiple
                                        size="2" disabled>

                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteFormCloseButton" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="UserPage.js"></script>
<script type="text/javascript" src="AdminPage.js"></script>
<script type="text/javascript" src="NewUser.js"></script>
<script type="text/javascript" src="DeleteModal.js"></script>
<script type="text/javascript" src="DeleteUser.js"></script>
<script type="text/javascript" src="EditModal.js"></script>
<script type="text/javascript" src="EditUser.js"></script>
</body>
</html>