<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        p {
            margin: 0;
            padding: 0;
        }

        .username {
            font-weight: bold;
            margin-right: 5px;
        }

        .navbar {
            padding: 0.5rem 0;
        }
    </style>

</head>
<body>

<div>
    <nav class="navbar navbar-dark bg-dark text-white">
        <div class="container-fluid justify-content-between align-items-center">
            <div class="d-flex align-items-center" th:each="user : ${userInf}">
                <p class="username" th:text="${user.getUsername()}"></p>
                <p>with roles: </p>
                <div th:each="role: ${user.getRolesName()}"
                     th:text="'&nbsp;' + ${role}">
                </div>
            </div>
            <a href="/login" class="font-weight-bold text-secondary">Logout</a>
        </div>
    </nav>
</div>


<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-2" style="padding-left: 0; padding-right: 0">
            <!--            Все роли!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="container-fluid nav-link active" id="v-pills-admin-tab" data-toggle="pill"
                   href="#v-pills-admin" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>

        </div>
        <div class="col-md-10" style="background-color: #eeeff3">


            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <br>
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="usersTable" data-toggle="tab" href="#homeAdmin" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="newUser" data-toggle="tab" href="#homeUser" role="tab"
                               aria-controls="profile" aria-selected="false">New User</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="homeAdmin" role="tabpanel"
                             aria-labelledby="usersTable">
                            <div class="tab-content" id="admin" style="background-color: white">
                                <!--     вклдака таблицы(все пользователи)       -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>All users</h5>
                                    </div>
                                    <br>
                                    <div class="container-fluid">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${show}">


                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getFirstName()}"></td>
                                                <td th:text="${user.getLastName()}"></td>
                                                <td th:text="${user.getAge()}"></td>
                                                <td th:text="${user.getUsername()}"></td>
                                                <td th:text="${user.getRoles()}"></td>
                                                <td>
                                                    <button type="submit" class="btn btn-info"
                                                            data-toggle="modal"
                                                            th:attr="data-target='#exampleModal-'+${user.id}">
                                                        Edit
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" data-toggle="modal"
                                                         th:attr="id='exampleModal-'+${user.id}" tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalEdit"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalEdit">Edit
                                                                        user</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:method="POST" th:action="@{/admin}"
                                                                          th:object="${user}">
                                                                        <div class="container-fluid col-md-6 text-center">
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="idEdit">ID</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       th:value="*{id}" th:name="id"
                                                                                       id="idEdit" readonly/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="firstNameEdit">First
                                                                                    Name</label>
                                                                                <input type="text" class="form-control"
                                                                                       th:value="*{firstName}"
                                                                                       th:name="firstName"
                                                                                       id="firstNameEdit"/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="lastNameEdit">Last
                                                                                    Name</label>
                                                                                <input type="text" class="form-control"
                                                                                       th:value="*{lastName}"
                                                                                       th:name="lastName"
                                                                                       id="lastNameEdit"/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="ageEdit">Age</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       th:value="*{age}" th:name="age"
                                                                                       id="ageEdit"/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="emailEdit">Email</label>
                                                                                <input type="email" class="form-control"
                                                                                       th:value="*{username}"
                                                                                       th:name="username"
                                                                                       id="emailEdit"/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="passwordEdit">Password</label>
                                                                                <input type="password"
                                                                                       class="form-control"
                                                                                       th:value="*{password}"
                                                                                       th:name="password"
                                                                                       id="passwordEdit"/>
                                                                            </div>


                                                                            <div class="form-group text-center">
                                                                                <label for="editRoles"
                                                                                       class="font-weight-bold">Role </label>
                                                                                <select class="form-control"
                                                                                        name="rolesName" id="editRoles"
                                                                                        size="2"
                                                                                        multiple>
                                                                                    <option th:value="ROLE_ADMIN"
                                                                                            th:text="ADMIN"></option>
                                                                                    <option th:value="ROLE_USER"
                                                                                            th:text="USER"></option>
                                                                                </select>
                                                                            </div>


                                                                            <br>


                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary">
                                                                                Edit
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>

                                                    <button type="submit" class="btn btn-danger"
                                                            data-toggle="modal"
                                                            th:attr="data-target='#exampleModalD-'+${user.id}">
                                                        Delete
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" data-toggle="modal"
                                                         th:attr="id='exampleModalD-'+${user.id}" tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalDelete"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalDelete">
                                                                        Delete
                                                                        user</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form th:method="DELETE"
                                                                          th:action="@{/admin/{id}(id = ${user.getId()})}"
                                                                          th:object="${user}">
                                                                        <div class="container-fluid col-md-6 text-center">
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="idDelete">ID</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       th:value="*{id}" th:name="id"
                                                                                       id="idDelete" readonly/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="firstNameDelete">First
                                                                                    Name</label>
                                                                                <input type="text" class="form-control"
                                                                                       th:value="*{firstName}"
                                                                                       th:name="firstName"
                                                                                       id="firstNameDelete" readonly/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="lastNameDelete">Last
                                                                                    Name</label>
                                                                                <input type="text" class="form-control"
                                                                                       th:value="*{lastName}"
                                                                                       th:name="lastName"
                                                                                       id="lastNameDelete" readonly/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="ageDelete">Age</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       th:value="*{age}" th:name="age"
                                                                                       id="ageDelete" readonly/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="emailDelete">Email</label>
                                                                                <input type="email" class="form-control"
                                                                                       th:value="*{username}"
                                                                                       th:name="username"
                                                                                       id="emailDelete" readonly/>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-form-label font-weight-bold"
                                                                                       for="passwordDelete">Password</label>
                                                                                <input type="password"
                                                                                       class="form-control"
                                                                                       th:value="*{password}"
                                                                                       th:name="password"
                                                                                       id="passwordDelete" readonly/>
                                                                            </div>

                                                                            <div class="form-group text-center">
                                                                                <label for="rolesDelete"
                                                                                       class="font-weight-bold">Role </label>
                                                                                <select th:size="${user.getRolesName().size()}"
                                                                                        class="form-control"
                                                                                        name="rolesName"
                                                                                        id="rolesDelete"
                                                                                        multiple readonly>
                                                                                    <option th:each="role: ${user.getRolesName()}"
                                                                                            th:text="${role}"></option>

                                                                                </select>
                                                                            </div>
                                                                            <br>


                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-danger">
                                                                                Delete
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="homeUser" role="tabpanel" aria-labelledby="newUser">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add new user</h5>
                                </div>
                                <br>
                                <div class="container-fluid col-md-3 text-center">


                                    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="firstName">First
                                                Name</label>
                                            <input type="text" class="form-control" name="firstName" id="firstName"
                                                   placeholder="First Name"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="lastName">Last
                                                Name</label>
                                            <input type="text" class="form-control" name="lastName" id="lastName"
                                                   placeholder="Last Name"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="age">Age</label>
                                            <input type="number" class="form-control" name="age" id="age"
                                                   placeholder="Age"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold" for="email">Email</label>
                                            <input type="email" class="form-control" name="username" id="email"
                                                   placeholder="Email"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label font-weight-bold"
                                                   for="password">Password</label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                   placeholder="Password">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="roles"
                                                   class="font-weight-bold">Role </label>
                                            <select class="form-control"
                                                    name="rolesName" id="roles"
                                                    size="2"
                                                    multiple>
                                                <option th:value="ROLE_ADMIN"
                                                        th:text="ADMIN"></option>
                                                <option th:value="ROLE_USER"
                                                        th:text="USER"></option>
                                            </select>
                                        </div>


                                        <button type="submit" class="btn btn-success btn-lg">Add new User</button>

                                    </form>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">

                    <br>
                    <h1>User information-page</h1>


                    <div class="tab-content" id="user" style="background-color: white">
                        <!--     вклдака таблицы(все пользователи)       -->
                        <div class="card">
                            <div class="card-header">
                                <h5>All users</h5>
                            </div>
                            <br>
                            <div class="container-fluid">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userInf}">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getFirstName()}"></td>
                                        <td th:text="${user.getLastName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getRoles()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>