<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${userShow.getId()}">VALUE</p>
<p th:text="${userShow.getName()}">VALUE</p>
<p th:text="${userShow.getUsername()}">VALUE</p>
<a th:href="@{{id}/edit(id = ${userShow.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id = ${userShow.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>